$bgc:  hsl(0, 0%, 100%);
$light:hsl(270, 3%, 87%); 
$middle: hsl(279, 6%, 55%);
$dark: hsl(278, 68%, 11%);
$error: hsl(0, 100%, 66%);
$active: #6448fe;
$active-border: linear-gradient(90deg, #6448fe 0%, #600594 100% );
